[user]
	name = AGiantSquid
	email = ashley.e.shultz@gmail.com
[alias]
	co = checkout
	c = commit
	cb = c -b
	b = branch
	s = status
	l = log
	ri = rebase -i
[core]
	filemode = false
	autocrlf = false

# by default, assume personal settings
[includeIf "gitdir:/c/**"]
  path = ~/.gitconfig-personal

# for use on laptop, override default with nbc stuff
[includeIf "gitdir:~/nbc/*"]
  path = ~/.gitconfig-work
